{% extends 'base.html' %}
{% load static %}
{% block cta %}
<div class="container hero">
        <div class="row">
            <div class="col-12 margin-header col-lg-6 col-xl-5 offset-xl-1">
                <h1>Hounds Hotel</h1>
                <p> At Hounds Hotel
                    we combine world class facilities
                    with compassionate care for you four legged family members. </p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'appointment' %}" class="btn btn-light btn-lg action-button" type="button">Book an room</a>
                    {% endif %}
            </div>

        </div>
    </div>

{% endblock cta %}

{% block content %}
<section class="container py-5"  id="team">
    <div class="row text-center ">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Our Team</h1>
            <p class="lead">Established and competent professionals you can rely on.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/vet-dog.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr Daphne Blake</h5>
                    <span class="small text-uppercase text-muted">Veterinarian</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/groomer-dog.jpg' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Jason Vialli </h5>
                    <span class="small text-uppercase text-muted">Grooming Specialist</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/massage-dog.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Fred Jones </h5>
                    <span class="small text-uppercase text-muted">Massuese</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/private-chef.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Katie Rogers </h5>
                    <span class="small text-uppercase text-muted">Private Chef</span>
                </div>
            </div><!-- End -->
        </div>
    </div>
</section><!-- End -->



<section id="services">
  <div class="text-center py-5 mb-4">
      <div class="color-green text-center py-2 mb-4 container">
        <h1 class="fw-light text-white">Services</h1>
        <p class="overview text-light">We provide compassionate and expert care to your four legged furry family member. Your dog is at the center of everything we do. Let us take care of your dog.</p>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <!-- Service Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/vet.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Veterinarian</h5>
            <div class="card-text text-black-50">In house Veterinarian</div>
          </div>
        </div>
      </div>
      <!-- Service Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/grooming.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Grooming</h5>
            <div class="card-text text-black-50">Hair, nails, teeth i take care of the grooming</div>
          </div>
        </div>
      </div>
      <!-- Service Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/massage.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Massuese</h5>
            <div class="card-text text-black-50">Giving your dog extra belly rubs throughout the day</div>
          </div>
        </div>
      </div>
      <!-- Service Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/chef.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Private Chef</h5>
            <div class="card-text text-black-50">Treat your dog whilst you are away</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
</section>

<section class="text-center container" style="margin-block:200px;" id="reviews">
    <h2>Satisfied Clients</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">		
            <div class="carousel-item active">
                <div class="img-box"><img src="{% static 'img/happy-dog-1.jpg' %}" alt=""></div>
                <p class="testimonial">I just love to be massaged all day, the in house massuese at Hounds Hotels really irons out my wrinkles</p>
                <p class="overview">Chunky</p>
            </div>
            <div class="carousel-item">
                <div class="img-box"><img src="{% static 'img/happy-dog-2.jpg' %}" alt=""></div>
                <p class="testimonial">I have some allergies, but when i come  to Hounds Hotels they take care not to give me anything that may affect my allergies.</p>
                <p class="overview">Sniffles</p>
            </div>
            <div class="carousel-item">
                <div class="img-box"><img src="{% static 'img/happy-dog-3.jpg' %}" alt=""></div>
                <p class="testimonial"> I love staying at Hounds Hotel, there is so much space to run around and always lots of other dogs to play with.</p>
                <p class="overview">Sonic</p>
                
            </div>		
        </div>

    </div>

</section>


<section id="contact" class="card m-4 p-4">
    <div class="container">
        <div class="row text-center">
          
            <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="text-green far fa-envelope fa-3x"></i>
              <h4>Get In Touch</h4>
              <abbr title="Phone">P:</abbr> (123) 456-7890<br>
              E: <a href="mailto:email@email.com" class="text-muted">email@email.com</a>
            </div>
          </div><!-- end col -->
  
          <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="text-green fa fa-map-marker fa-3x"></i>
              <h4>Our Location</h4>
  
              <address>
              Stonehenge<br>
              Salisbury<br>
            </address>
            </div>
          </div><!-- end col -->
  
  
  
        </div>
        <!-- end row -->
  
  
        <div class="row">
          <div class="col-xl-6 col-sm-6">
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2501.181079623309!2d-1.8284090489605795!3d51.17888534239057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4873e63b850af611%3A0x979170e2bcd3d2dd!2sStonehenge!5e0!3m2!1sen!2suk!4v1674991060904!5m2!1sen!2suk" width="100" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
            </div>
          </div><!-- end col -->
  
          <!-- Contact form -->
          <div class="col-xl-6 col-sm-6">
            <form role="form" name="ajax-form" id="ajax-form" method="post" class="form-main" action="{% url 'home' %}">
            {% csrf_token %}
              <div class="form-group">
                <label for="name2">Name</label>
                <input class="form-control" id="name2" name="name" type="text" placeholder="name">
                <div class="error" id="err-name" style="display: none;">Please enter name</div>
              </div> <!-- /Form-name -->
  
              <div class="form-group">
                <label for="email2">Email</label>
                <input class="form-control" id="email2" name="email" type="text" placeholder="email">
                <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div> 
              </div> <!-- /Form-email -->
  
              <div class="form-group">
                <label for="message2">Message</label>
                <textarea class="form-control" id="message2" name="message" rows="5" placeholder="message"></textarea>
  
                <div class="error" id="err-message" style="display: none;">Please enter message</div>
              </div> <!-- /col -->
  
              <div class="mt-4 d-grid">            
                  <button type="submit" class="btn text-white color-green btn-shadow btn-rounded w-md" id="send">Send</button>
                </div>
                <div class="d-flex align-items-center justify-content-center gap-4 mt-4">
                  <a class="text-green fs-2" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                  <a class="text-green fs-2" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                  <a class="text-green fs-2" href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                </div>
              </div> <!-- /row -->

  
            </form> <!-- /form -->
            
              
            
          </div> <!-- end col -->
  
        </div> <!-- end row -->
            
      </div>
</section>


{% endblock content %}